---
layout: default
title: My Page
---

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Rafael Capaci</span>
                    <hr class="star-light">
                    <span class="skills">Graduando em Ciência da Computação e Web Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>

    {% include home/portfolio.html %}

    {% include home/about.html %}

    {% include home/contact.html %}

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Trabalho de Redes II</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/computer.png" class="img-responsive img-centered" alt="">
                        <p>Este trabalho simula a implementação de uma tabela cache em uma comunicação cliente-servidor </p>
                        <ul class="list-inline item-details">
                            <li>Matéria:
                                <strong><a href="http://www.inf.ufpr.br/elias/redes" target="_blank">Redes II</a>
                                </strong>
                            </li>
                            <li>Data:
                                <strong><a href="#">Dezembro de 2015</a>
                                </strong>
                            </li>
                            <li>Autoria:
                                <strong><a href="#">
                                    Aline Santana Cordeiro e Rafael Capaci</a>
                                </strong>
                            </li>
                        </ul>
                        <a href="projects/ci061/" class="btn btn-info"><i class="fa fa-eye"></i> Ver Trabalho</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
