<header>
    <nav class="teal darken-1" role="navigation">
        <div class="nav-wrapper container">
            <a href="#!" class="brand-logo">Capaci</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ base }}#portfolio">Portfolio</a></li>
                <li><a href="{{ base }}#about">Sobre</a></li>
                <li><a href="{{ base }}#contact">Contato</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="{{ base }}#portfolio">Portfolio</a></li>
                <li><a href="{{ base }}#about">Sobre</a></li>
                <li><a href="{{ base }}#contact">Contato</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>
