<!--
{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}{% endif %}
 -->

<!-- jQuery -->
<!-- <script src="{{ base }}/js/jquery.js"></script> -->
<script src="{{ base }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ base }}/bower_components/Materialize/dist/js/materialize.min.js"></script>
<script src="{{ base }}/js/main.js"></script>
