<!--
{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}{% endif %}
 -->

<!-- jQuery -->
<!-- <script src="{{ base }}/js/jquery.js"></script> -->
<script src="{{ base }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ base }}/bower_components/Materialize/dist/js/materialize.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<!-- <script src="{{ base }}/js/bootstrap.min.js"></script> -->

<!-- Plugin JavaScript -->
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{{ base }}/js/classie.js"></script>
<script src="{{ base }}/js/cbpAnimatedHeader.js"></script> -->


<!-- Custom Theme JavaScript -->
<!-- <script src="{{ base }}/js/freelancer.js"></script> -->

<!-- Contact Form JavaScript -->
<!-- <script src="{{ base }}/js/contact_me.js"></script> -->
<script type="text/javascript">
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
    })
</script>
