footer(class="footer")
    div(class="wrapper")
        p(class="footer__text")!= copyright
            span(class="footer__text--small")!= "Design inspired by <a href=\"https://dribbble.com/shots/3309097-Remasi-Webpage\" title=\"Check out the design that inspired this page.\"> Alexander Savic's Remasi Webpage Design<\/a>"
