@import "partials/variables";
@import "partials/helpers";
@import "partials/base";
@import "partials/menu";
@import "partials/form";

nav {
    background: $color2;
    display: none;
    height: 90px;
    margin: 0 auto;
    padding: 0 50px;
    width: 100%;

    h1 {
        display: inline-block;
        font-family: 'Russo One', sans-serif;
        font-size: 44px;
        font-weight: 300;
        margin: 0;
    }

    ul {
        display: inline-block;
        float: right;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            list-style: none;
            margin-left: 40px;

            a {
                color: $color5;
                line-height: 90px;
                text-decoration: none;
            }
        }
    }
}

section {
    &:nth-of-type(even) {
        background: $color1;
        min-height: 400px;
        position: relative;
    }

    &:nth-of-type(odd) {
        margin-top: 140px;
        min-height: 400px;
    }

    @include breakpoint(knight) {
        &:last-of-type {
            padding-bottom: 40px;
        }
    }
}

.header {
    background: $color1;
    min-height: 400px;
    position: relative;

    &:after {
        background: $color1;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 120px;
        transform: skew(0deg, 5deg);
        width: 100%;
        z-index: -1;
    }

    .header__text {
        left: 50%;
        position: absolute;
        top: 120px;
        transform: translateX(-50%);

        .header__text--title {
            @include font-with-line(0);
            color: $color2;
            font-family: 'Russo One', sans-serif;
            font-weight: 300;
            margin: 0;
            text-align: center;
        }

        .header__text--subtitle {
            @include font-with-line(2);
            color: $color2;
            text-align: center;
            margin: 0;
        }

        .redes-sociais {
            display: flex;
            justify-content: center;
            margin-top: 25px;
        }
    }
}

.social {
    margin: 0;
    padding: 0;

    .social__item {
        display: inline-block;
        height: 40px;
        list-style: none;
        text-align: center;
        width: 40px;

        .social__item--link {
            display: block;
            line-height: 40px;

            .social__item--link--icon {
                color: $color2;
                transition: color 0.2s linear;
            }
        }

        &:hover {
            .social__item--link {
                .social__item--link--icon {
                    color: $color4;
                }
            }
        }
    }
}

.about {
    .about__title {
        text-align: center;
        @include font-with-line(3);
    }

    .about__text {
        text-align: center;
        @include font-with-line(4);
    }
}

.portfolio {
    position: relative;

    &:after {
        background: $color1;
        content: '';
        left: 0;
        height: 100%;
        position: absolute;
        top: 120px;
        transform: skew(0deg, -5deg);
        width: 100%;
        z-index: -1;
    }

    .portfolio__title {
        @include font-with-line(3);
        color: $color2;
        text-align: center;
    }

    .portfolio__text {
        @include font-with-line(4);
        color: $color2;
        text-align: center;
    }
}

.contact {
    .contact__title {
        @include font-with-line(3);
        text-align: center;
    }

    .contact__text {
        @include font-with-line(4);
        text-align: center;
    }

    .contact__info {
        .contact__info--title {
            @include font-with-line(4);
        }

        @include breakpoint(knight) {
            @include make-column(6);
        }
    }

    .contact__form {
        padding: 0 20px;

        .contact__form--title {
            @include font-with-line(4);
        }

        @include breakpoint(knight) {
            @include make-column(6);
        }
    }

    .redes-sociais {
        margin-top: 25px;
        .social {

            .social__item {
                margin-right: 20px;
                .social__item--link {

                    .social__item--link--icon {
                        color: $color6;
                        transition: color 0.2s linear;
                    }
                }

                &:hover {
                    .social__item--link {
                        .social__item--link--icon {
                            color: $color4;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    background: $color1;
    padding: 15px 0;

    .footer__text {
        @include font-with-line(5);
        color: $color2;
        margin: 0;
        text-align: center;

        .footer__text--small {
            @include font-with-line(7);
            display: block;

            a,
            a:visited {
                color: $color2;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}
