/* ------- BREAKPOINTS - uso : @include breakpoint(mouse) { parametros: valores; } ------- */
@mixin breakpoint( $breakpoint ) {
	@if $breakpoint == youngling {
		@media only screen and (min-width: em(480)) { @content; }
	}

	@else if $breakpoint == padawan {
		@media only screen and (min-width: em(768)) { @content; }
	}

	@else if $breakpoint == cavaleiro {
		@media only screen and (min-width: em(1024)) { @content; }
	}

	@else if $breakpoint == mestre {
		@media only screen and (min-width: em(1280)) { @content; }
	}

	@else if $breakpoint == grande_mestre {
		@media only screen and (min-width: em(1440)) { @content; }
	}

	@else if $breakpoint == chameleon {
		@media print, ( -o-min-device-pixel-ratio: 5/4 ), ( -webkit-min-device-pixel-ratio: 1.25 ), ( min-resolution: 120dpi ) { @content; }
	}

	@else {
		@media only screen and (min-width: $breakpoint) { @content; }
	}
}


/* ------- CLEARFIX - uso: @include clearfix; ------- */
@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin font-with-line($font_hierarchy) {
    $font_size: 14px;
    @if ($font_hierarchy == 0) {
        $font_size: 64px;
    }

    @else if ($font_hierarchy == 1) {
        $font_size: 48px;
	}

    @else if ($font_hierarchy == 2) {
        $font_size: 36px;
	}

    @else if ($font_hierarchy == 3) {
        $font_size: 24px;
	}

    @else if ($font_hierarchy == 4) {
        $font_size: 18px;
	}

    @else if ($font_hierarchy == 5) {
        $font_size: 14px;
	}

    @else if ($font_hierarchy == 6) {
        $font_size: 12px;
	}

    @else if ($font_hierarchy == 7) {
        $font_size: 10px;
	}

    @else if ($font_hierarchy == 8) {
        $font_size: 8px;
	}

	font-size: $font_size;
	line-height: $font_size * 1.4;;
}

@mixin make-column($col) {
    float: left;
    width: $col / 12 * 100%;
}
