$max-width: 1500px;
$wrapper-width: 920px;
$gutter     : 20px;

// $color1: #2c3e4f;
// $color2: #e54d42;
// $color3: #ecf0f1;
// $color4: #3a99d9;
// $color5: #2e81b7;

$color1: #3E3240;
$color2: #FFFFFF;
$color3: #89828B;
$color4: #A0455B;
$color5: #A6A1A8;
$color6: #DC4D69;
$color7: #D5D0D6;
