<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h2>Sobre</h2>
                <div class="col l6">
                    <p class="left-align">
                        Meu nome é Rafael Capaci, e eu sou um estudante, estagiário, empresário júnior e programador, além de um amante da música e da gastronomia, de Curitiba/PR.
                    </p>
                    <p class="left-align">
                        Programar para mim, vai além de trabalho, pode ser considerado um hobby, uma diversão, um estilo de vida.
                    </p>
                    <p class="left-align">
                        Antes de entrar na universidade, nunca havia programado, mas sempre fui um aficionado por problemas envolvendo raciocínio lógico e, com o passar do tempo, programar acabou tornando-se algo natural. Gosto de resolver problemas
                        <br>
                    </p>
                </div>
                <div class="col l6">
                    <p class="left-align">
                        Estou cursando a graduação em Ciência da Computação pela UFPR - Universidade Federal do Paraná. O curso em si foca bastante em formar acadêmicos e, é por isso que eu tento, por conta própria a cada dia, melhorar minhas habilidades em relação ao mercado de trabalho.
                    </p>
                    <p class="left-align">
                        Atualmente trabalho como Diretor de Negócios e Desenvolvedor na <a href="http://www.ecomp.co" target="_blank">Ecomp</a>, a empresa júnior de informática da UFPR.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
