<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col s12 l4 center-align">
                <img class="img-responsive" src="https://scontent.fcwb1-1.fna.fbcdn.net/v/t1.0-9/11329947_826241757461120_2838359030750619038_n.jpg?oh=a71a2c5d82959b5882b18084bc9ce936&oe=57CD3EA2" alt=""
                style="border-radius:100%;max-width:220px;">
            </div>
            <div class="col s12 l8">
                <div>
                    <span class="name">Rafael Capaci</span>
                    <hr>
                    <span class="skills">Graduando em Ciência da Computação e Web Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>
