<!-- Header -->
<section id="main-header" class="section teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <img class="circle responsive-img" src="https://scontent.fcwb1-1.fna.fbcdn.net/v/t1.0-9/11329947_826241757461120_2838359030750619038_n.jpg?oh=a71a2c5d82959b5882b18084bc9ce936&oe=57CD3EA2" alt="Rafael Capaci Pereira">
            </div>
            <div class="col s12 m8 pull-m2 push-m2 center-align">
                <!-- <div> -->
                    <h2 class="name">Rafael Capaci</h2>
                    <!-- <hr> -->
                    <!-- <div class="divider"></div> -->
                    <span class="skills chip">Graduando em Ciência da Computação e Web Developer</span>
                <!-- </div> -->
            </div>
        </div>
    </div>
</section>
