<div class="divider"></div>
<section id="portfolio" class="section">
    <div class="container">
        <div class="row">
            <h2 class="center-align">Portfolio</h2>
            <div class="col l12">

                <div class="col s12 m4">
                    <div class="card small hoverable portfolio-item">
                        <div class="card-image">
                            <img src="img/portfolio/computer.png">
                        </div>
                        <div class="card-content">
                            <p>
                                Redes II
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ver trabalho</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card small hoverable portfolio-item">
                        <div class="card-image">
                            <img src="img/portfolio/computer.png">
                        </div>
                        <div class="card-content">
                            <p>
                                Redes II
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ver trabalho</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card small hoverable portfolio-item">
                        <div class="card-image">
                            <img src="img/portfolio/computer.png">
                        </div>
                        <div class="card-content">
                            <p>
                                Redes II
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ver trabalho</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col s12 center">
                <a href="/projects/" class="btn waves-effect waves-light">Ver todos</a>
            </div>
        </div>
    </div>
</section>
